#menu{
    -fx-background-image: url("/images/menu.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 600 450;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#profiles{
    -fx-background-image: url("/images/profiles.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#edit_menu{
    -fx-background-image: url("/images/edit.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size:  1250 900;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#cards_menu{
    -fx-background-image: url("/images/cards.png");
    -fx-background-repeat: stretch;
    -fx-background-size:  1920 1080;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.button_menu {
    -fx-shape: "M 300 300 Q 200 250 300 200 Q 425 200 600 200 Q 700 250 600 300 Q 425 300 300 300 ";
    -fx-background-color: #4DD0E1;
}

.button_profiles {
    -fx-shape: "M 300 250 A 50 50 0 1 1 400 250 L 400 250 L 400 250 A 50 50 0 1 1 300 250 ";
    -fx-background-color: #8b33d7;
}
.button_cards {
    -fx-shape: "M 350 300 C 300 250 375 250 350 200 C 400 200 425 200 450 250 C 425 275 475 275 450 300 C 375 300 425 250 350 300 ";
    -fx-background-color: #33d79e;
}

.button_cards_right {
    -fx-shape: "M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z";
    -fx-background-color: #338dd7;
}
.button_cards_left {
    -fx-shape: "M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z";
    -fx-background-color: #338dd7;
}
